header {
  @include outer-container;
  display: block;
  line-height: 30px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  padding-bottom: $base-padding;
  padding-top: $base-padding;
  padding-left: $base-padding;
  padding-right: $base-padding;
  width: 100%;
}


a.blog-title {
  text-align: left;
  vertical-align: middle;
  letterspacing: 5px;
  text-transform: lowercase;
  font-family: $base-title-font-family;
  color: $base-title-color;
  font-size: 3em;
  &:hover{
      // color: $base-title-color;
      border-bottom: none;
    }
    @include media($tablet){
      font-size: 4em;
    }


  }