* {
  margin: 0;
}

html {
  @include outer-container;
  background-color: $base-page-background;
  font-size: $base-font-size;
}

body {
  margin: 0;
  padding: 0;
  border: 0;
}

html, body{
  height: 100%;
}

section {
  @include outer-container;
  
  aside {
    @include span-columns(4);
  }
  
  article {
    @include span-columns(8);
  }
}

section:after {
  content: "";
  display: block;
  height: 142px; 
}




// ol {
//   font-size: 1em;
//   font-weight: 500;

//   li {
//     margin: .5em 0;

//     span {
//       display: inline-block;

//       &:before {
//         content: '/';
//         margin: 0 .3em;
//       }
//     }
//   }
// }
