html {
	background-color: $base-page-background;
}

body {
  @include outer-container;
  margin: 0;
  padding: 0;
  border: 0;
  //font: inherit;
  //font-size: 100%;
  //vertical-align: baseline;
}

section {
  @include outer-container;

  aside { 
    @include span-columns(3);
    padding-left: $base-padding;
  }

  article { 
    @include span-columns(9);
    padding-left: $base-padding;  }
  }

  .large-column {
    @include span-columns(9);
    padding-left: $base-padding;
  }

  .med-column {
    @include span-columns(3);
    padding-right: $base-padding;
  }


// ol {
//   font-size: 1em;
//   font-weight: 500;

//   li {
//     margin: .5em 0;

//     span {
//       display: inline-block;

//       &:before {
//         content: '/';
//         margin: 0 .3em;
//       }
//     }
//   }
// }
