* {
  margin: 0;
}

html {
  @include outer-container;
  background-color: $base-page-background;
  font-size: $base-font-size;
}

body {
  margin: 0;
  padding: 0;
  border: 0;
  //font: inherit;
  //font-size: 100%;
  //vertical-align: baseline;
}

html, body{
  height: 100%;
}

.wrap {
  @include outer-container;

  //
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -142px; 
}

.wrap:after {
  content: "";
  display: block;
  height: 142px; 
}

.content {
  @include span-columns(8);
  padding-left: $base-padding;
}

.sidebar {
  @include span-columns(4);
  padding-right: $base-padding;
}


// ol {
//   font-size: 1em;
//   font-weight: 500;

//   li {
//     margin: .5em 0;

//     span {
//       display: inline-block;

//       &:before {
//         content: '/';
//         margin: 0 .3em;
//       }
//     }
//   }
// }
