
p.sidebar{
  display: inline;
  a.sidebar{
    text-align: center;
    font-size: 1.4em;
    font-family: $base-heading-font-family;
    color: $base-nav-color;
    display: inline;
    text-align: center;
    // display: block;
    // margin-left: $base-padding;
    // margin-right: $base-padding;

    @include media($tablet){
      font-size: 1.2em;
      display: block;
      text-align: right;
      padding-right: $base-padding;
      a{
        display: block;
        &:hover{
          border-bottom: none;
          text-decoration: none;
        }

      }

    }

  }
  a.sidebar::after{
   content: " /";
   color: $color-4;
 }
} 

