{% extends "base.html" %}
{% block head %}
{{ super() }}

{% for keyword in article.keywords %}
<meta name="keywords" content="{{keyword}}" />
{% endfor %}

{% if article.description %}
<meta name="description" content="{{article.description}}" />
{% endif %}

{% for tag in article.tags %}
<meta name="tags" content="{{tag}}" />
{% endfor %}

{% endblock %}

{% block content %}
<h1>{{ article.title }}</h1> <!--.post title-->

{% include 'post_meta.html' %}<!-- /.post-meta -->

<div class="entry-content">

{{ article.content }}
</div><!-- /.entry-content -->

{# discuss comments #}
{% include 'disqus.html' %}
{# end discuss comments #}

{% endblock %}



