<!-- Goes to header -->
<script type="text/javascript" async="async" src="http://widgets.outbrain.com/outbrain.js"></script>
<div class="OUTBRAIN" data-src="DROP_PERMALINK_HERE" data-widget-id="TR_1" data-ob-template="recmodo"></div>