<!--   <p class="sidebar"><a href="" class="sidebar">about</a></p>
  <p class="sidebar"><a href="" class="sidebar">contact</a></p>
  <p class="sidebar"><a href="/feed.xml" class="sidebar">feed</a></p>
  <p class="sidebar"><a href="https://www.twitter.com/prodissues" class="sidebar">twitter</a></p>
-->
  <ul>
    <li class="sidebar"><a href="" class="sidebar">about</a></li>
    <li class="sidebar"><a href="" class="sidebar">contact</a></li>
    <li class="sidebar"><a href="https://www.twitter.com/prodissues" class="sidebar">twitter</a></li>
    <li class="sidebar"><a href="/feed.xml" class="sidebar">feed</a></li>
  </ul>
