  <p class="sidebar"><a href="" class="sidebar">about</a></p>
  <p class="sidebar"><a href="" class="sidebar">contact</a></p>
  <p class="sidebar"><a href="" class="sidebar">feed</a></p>
  <p class="sidebar"><a href="" class="sidebar">twitter</a></p>

<!-- <ul class="small-column">
  <li><h5 class="heading">Tags</h5></li>
  <li>
    <ol>
      <% blog.tags.each do |tag, articles| %>
      <li><%= link_to "#{tag} (#{articles.size})", tag_path(tag) %></li>
      <% end %>
    </ol>
  </li>
  <ul> -->