// Colors
// Cote Azur scheme (adobe)
$color-1: #08585E; //deep-sea-green 
$color-2: #159392; //blue-chill
$color-3: #F0ECBD; //lemon-chiffon
$color-4: #FC3A1D; //pomegranate
$color-5:#FFFBC7; //spring-green
$black: #333333;


