// Colors
// Flat UI scheme (adobe)
$color-1: #2D3E4F; //madison -> dark blue
$color-2: #3D709D;//#2F81B7; //curious-blue -> medium blue
$color-3: #3A99D8; //celestial-blue -> light blue
$color-4: #A22027;//#E54D42; //carmin-pink -> light crimson
$color-5:#ECF0F1; //athens-gray -> light gray
$black: #333333;


