/* line 1, ../scss/base/_lists.scss */
ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0; }
  /* line 20, ../scss/base/_lists.scss */
  dl {
    margin-bottom: 0.725em; }
    /* line 23, ../scss/base/_lists.scss */
    dl dt {
      font-weight: bold;
      margin-top: 0.725em; }
      /* line 28, ../scss/base/_lists.scss */
      dl dd {
        margin: 0; }

        /* line 1, ../scss/base/_typography.scss */
        body {
          -webkit-font-smoothing: antialiased;
          color: black;
          font-family: PTSandsRegular;
          font-size: 1.05em;
          line-height: 1.45; }

          /* line 10, ../scss/base/_typography.scss */
          h1 {
            font-size: 1.8em; }
            /* line 13, ../scss/base/_typography.scss */
            h1 a {
              color: black; }
              /* line 15, ../scss/base/_typography.scss */
              h1 a:hover {
                color: #A22027;
                border-bottom: none; }

                /* line 23, ../scss/base/_typography.scss */
                h2 {
                  font-size: 1.6em; }

                  /* line 27, ../scss/base/_typography.scss */
                  h3 {
                    color: #3D709D;
                    font-size: 1.4em;
                    font-weight: 800;
                    margin: 0 0 0.725em; }

                    /* line 34, ../scss/base/_typography.scss */
                    h4 {
                      color: #3D709D;
                      font-size: 1.2em;
                      font-weight: 800;
                      margin: 0 0 0.725em; }

                      /* line 41, ../scss/base/_typography.scss */
                      h5 {
                        color: #3D709D;
                        font-size: 1.1em;
                        font-weight: 800;
                        margin: 0 0 0.725em; }

                        /* line 48, ../scss/base/_typography.scss */
                        h1,
                        h2,
                        h3,
                        h4,
                        h5,
                        h6 {
                          font-family: PTSansNarrow;
                          line-height: 1.2; }

                          /* line 60, ../scss/base/_typography.scss */
                          p {
                            margin: 0 0 0.725em; }

                            /* line 64, ../scss/base/_typography.scss */
                            a {
                              color: #A22027;
                              text-decoration: none;
                              transition: color 0.1s linear; }
                              /* line 69, ../scss/base/_typography.scss */
                              a:active, a:focus, a:hover {
                                color: #A22027;
                                text-decoration: none;
                                border-bottom: 1px dotted #A22027; }
                                /* line 77, ../scss/base/_typography.scss */
                                a:active, a:focus {
                                  outline: none; }

                                  /* line 83, ../scss/base/_typography.scss */
                                  hr {
                                    border-bottom: 1px dotted black;
                                    border-left: none;
                                    border-right: none;
                                    border-top: none;
                                    margin: 1.45em 0; }

                                    /* line 91, ../scss/base/_typography.scss */
                                    img,
                                    picture {
                                      margin: 0;
                                      max-width: 100%; }

                                      /* line 97, ../scss/base/_typography.scss */
                                      a.tag {
                                        font-weight: 600;
                                        margin-left: 0.4em;
                                        margin-right: 0.4em; }
                                        /* line 101, ../scss/base/_typography.scss */
                                        a.tag:hover {
                                          text-decoration: none; }

                                          /* line 106, ../scss/base/_typography.scss */
                                          pre {
                                            display: block;
                                            padding: 9.5px;
                                            margin: 0 0 10px;
                                            font-size: 0.8em;
                                            line-height: 1.42857143;
                                            word-break: break-all;
                                            word-wrap: break-word;
                                            color: #333333;
                                            background-color: #f5f5f5;
                                            border: 1px solid #cccccc;
                                            border-radius: 4px; }

                                            /* line 1, ../scss/base/_quote-and-footnotes.scss */
                                            sup a {
                                              position: relative;
                                              top: 0;
                                              left: 0;
                                              font-weight: bold;
                                              font-size: 0.6em;
                                              color: #777777;
                                              background-color: #EEEEEE;
                                              border-radius: 50%;
                                              padding: 0.2em 0.5em 0.2em;
                                              text-decoration: none; }
                                              /* line 13, ../scss/base/_quote-and-footnotes.scss */
                                              sup a:hover {
                                                color: #FBFAF5;
                                                background-color: #A22027; }

                                                /* line 19, ../scss/base/_quote-and-footnotes.scss */
                                                sup {
                                                  line-height: 0; }

                                                  /* line 23, ../scss/base/_quote-and-footnotes.scss */
                                                  a.reversefootnote {
                                                    position: relative;
                                                    top: -0.2em;
                                                    left: 0;
                                                    font-weight: bold;
                                                    font-size: 0.6em;
                                                    color: #777777;
                                                    background-color: #EEEEEE;
                                                    border-radius: 0.4em;
                                                    padding: 0.2em 0.4em 0;
                                                    text-decoration: none; }
                                                    /* line 35, ../scss/base/_quote-and-footnotes.scss */
                                                    a.reversefootnote:hover {
                                                      color: #FBFAF5;
                                                      background-color: #A22027; }

                                                      /* line 51, ../scss/base/_quote-and-footnotes.scss */
                                                      blockquote {
                                                        padding: 10px 20px;
                                                        margin: 0 0 20px;
                                                        border-left: 0.5em solid #A22027; }

                                                        /* line 60, ../scss/base/_quote-and-footnotes.scss */
                                                        .footnotes ol {
                                                          border-top: 1px dotted black;
                                                          padding-top: 1em;
                                                          padding-left: 1em; }
                                                          /* line 64, ../scss/base/_quote-and-footnotes.scss */
                                                          .footnotes ol li {
                                                            list-style-type: decimal; }

                                                            /* line 4, ../scss/neat/grid/_box-sizing.scss */
                                                            html {
                                                              box-sizing: border-box; }

                                                              /* line 9, ../scss/neat/grid/_box-sizing.scss */
                                                              *, *::after, *::before {
                                                                box-sizing: inherit; }

                                                                /* line 1, ../scss/partials/_layout.scss */
                                                                * {
                                                                  margin: 0; }

                                                                  /* line 5, ../scss/partials/_layout.scss */
                                                                  html {
                                                                    max-width: 100%;
                                                                    margin-left: auto;
                                                                    margin-right: auto;
                                                                    background-color: #FBFAF5;
                                                                    font-size: 1.05em; }
                                                                    /* line 20, ../scss/bourbon/addons/_clearfix.scss */
                                                                    html::after {
                                                                      clear: both;
                                                                      content: "";
                                                                      display: table; }

                                                                      /* line 11, ../scss/partials/_layout.scss */
                                                                      body {
                                                                        margin: 0;
                                                                        padding: 0;
                                                                        border: 0; }
                                                                        @media screen and (min-width: 48em) {
                                                                          /* line 11, ../scss/partials/_layout.scss */
                                                                          body {
                                                                            font-size: 1.3rem;
                                                                            -webkit-font-smoothing: normal; } }
                                                                            @media screen and (min-width: 52.5em) {
                                                                              /* line 11, ../scss/partials/_layout.scss */
                                                                              body {
                                                                                font-size: 1.4em; } }
                                                                                @media screen and (min-width: 81.25em) {
                                                                                  /* line 11, ../scss/partials/_layout.scss */
                                                                                  body {
                                                                                    font-size: 1.5em; } }

                                                                                    /* line 27, ../scss/partials/_layout.scss */
                                                                                    html, body {
                                                                                      height: 100%; }

                                                                                      /* line 31, ../scss/partials/_layout.scss */
                                                                                      section {
                                                                                        max-width: 100%;
                                                                                        margin-left: auto;
                                                                                        margin-right: auto;
                                                                                        padding-left: 1em;
                                                                                        padding-right: 1em;
                                                                                        align-content: center;
                                                                                        min-height: 100%;
                                                                                        margin-bottom: -100px;
                                                                                        width: 100%; }
                                                                                        /* line 20, ../scss/bourbon/addons/_clearfix.scss */
                                                                                        section::after {
                                                                                          clear: both;
                                                                                          content: "";
                                                                                          display: table; }

                                                                                          /* line 41, ../scss/partials/_layout.scss */
                                                                                          section:after {
                                                                                            content: "";
                                                                                            display: block;
                                                                                            height: 100px; }

                                                                                            /* line 47, ../scss/partials/_layout.scss */
                                                                                            aside {
                                                                                              padding-top: 1em;
                                                                                              text-align: right; }
                                                                                              @media screen and (min-width: 20em) {
                                                                                                /* line 47, ../scss/partials/_layout.scss */
                                                                                                aside {
                                                                                                  float: left;
                                                                                                  display: block;
                                                                                                  margin-right: 8.71718%;
                                                                                                  width: 100%;
                                                                                                  text-align: left; }
                                                                                                  /* line 89, ../scss/neat/grid/_span-columns.scss */
                                                                                                  aside:last-child {
                                                                                                    margin-right: 0; } }
                                                                                                    @media screen and (min-width: 48em) {
                                                                                                      /* line 47, ../scss/partials/_layout.scss */
                                                                                                      aside {
                                                                                                        float: left;
                                                                                                        display: block;
                                                                                                        margin-right: 4.17655%;
                                                                                                        width: 21.86759%; }
                                                                                                        /* line 89, ../scss/neat/grid/_span-columns.scss */
                                                                                                        aside:last-child {
                                                                                                          margin-right: 0; } }
                                                                                                          @media screen and (min-width: 52.5em) {
                                                                                                            /* line 47, ../scss/partials/_layout.scss */
                                                                                                            aside {
                                                                                                              float: left;
                                                                                                              display: block;
                                                                                                              margin-right: 2.74614%;
                                                                                                              width: 22.9404%; }
                                                                                                              /* line 89, ../scss/neat/grid/_span-columns.scss */
                                                                                                              aside:last-child {
                                                                                                                margin-right: 0; } }

                                                                                                                /* line 64, ../scss/partials/_layout.scss */
                                                                                                                article {
                                                                                                                  padding-top: 1em; }
                                                                                                                  @media screen and (min-width: 20em) {
                                                                                                                    /* line 64, ../scss/partials/_layout.scss */
                                                                                                                    article {
                                                                                                                      float: left;
                                                                                                                      display: block;
                                                                                                                      margin-right: 8.71718%;
                                                                                                                      width: 100%; }
                                                                                                                      /* line 89, ../scss/neat/grid/_span-columns.scss */
                                                                                                                      article:last-child {
                                                                                                                        margin-right: 0; } }
                                                                                                                        @media screen and (min-width: 48em) {
                                                                                                                          /* line 64, ../scss/partials/_layout.scss */
                                                                                                                          article {
                                                                                                                            float: left;
                                                                                                                            display: block;
                                                                                                                            margin-right: 4.17655%;
                                                                                                                            width: 73.95586%; }
                                                                                                                            /* line 89, ../scss/neat/grid/_span-columns.scss */
                                                                                                                            article:last-child {
                                                                                                                              margin-right: 0; } }
                                                                                                                              @media screen and (min-width: 52.5em) {
                                                                                                                                /* line 64, ../scss/partials/_layout.scss */
                                                                                                                                article {
                                                                                                                                  float: left;
                                                                                                                                  display: block;
                                                                                                                                  margin-right: 2.74614%;
                                                                                                                                  width: 65.75129%; }
                                                                                                                                  /* line 89, ../scss/neat/grid/_span-columns.scss */
                                                                                                                                  article:last-child {
                                                                                                                                    margin-right: 0; } }
                                                                                                                                    @media screen and (min-width: 81.25em) {
                                                                                                                                      /* line 64, ../scss/partials/_layout.scss */
                                                                                                                                      article {
                                                                                                                                        float: left;
                                                                                                                                        display: block;
                                                                                                                                        margin-right: 2.04556%;
                                                                                                                                        width: 48.97722%; }
                                                                                                                                        /* line 89, ../scss/neat/grid/_span-columns.scss */
                                                                                                                                        article:last-child {
                                                                                                                                          margin-right: 0; } }
                                                                                                                                          /* line 79, ../scss/partials/_layout.scss */
                                                                                                                                          article li.post-summary {
                                                                                                                                            border-bottom: 1px dotted black;
                                                                                                                                            margin-bottom: 2em; }

                                                                                                                                            /* line 1, ../scss/partials/_header.scss */
                                                                                                                                            header {
                                                                                                                                              max-width: 100%;
                                                                                                                                              margin-left: auto;
                                                                                                                                              margin-right: auto;
                                                                                                                                              display: block;
                                                                                                                                              line-height: 30px;
                                                                                                                                              margin-bottom: 0px;
                                                                                                                                              margin-left: 0px;
                                                                                                                                              margin-right: 0px;
                                                                                                                                              padding-bottom: 1em;
                                                                                                                                              padding-top: 1em;
                                                                                                                                              padding-left: 1em;
                                                                                                                                              padding-right: 1em;
                                                                                                                                              width: 100%; }
                                                                                                                                              /* line 20, ../scss/bourbon/addons/_clearfix.scss */
                                                                                                                                              header::after {
                                                                                                                                                clear: both;
                                                                                                                                                content: "";
                                                                                                                                                display: table; }

                                                                                                                                                /* line 16, ../scss/partials/_header.scss */
                                                                                                                                                a.blog-title {
                                                                                                                                                  text-align: left;
                                                                                                                                                  vertical-align: middle;
                                                                                                                                                  letterspacing: 5px;
                                                                                                                                                  text-transform: lowercase;
                                                                                                                                                  font-family: PTSansNarrowBold;
                                                                                                                                                  color: black;
                                                                                                                                                  font-size: 3em; }
                                                                                                                                                  /* line 24, ../scss/partials/_header.scss */
                                                                                                                                                  a.blog-title:hover {
                                                                                                                                                    border-bottom: none; }
                                                                                                                                                    @media screen and (min-width: 48em) {
                                                                                                                                                      /* line 16, ../scss/partials/_header.scss */
                                                                                                                                                      a.blog-title {
                                                                                                                                                        font-size: 4em; } }

                                                                                                                                                        /* line 1, ../scss/partials/_footer.scss */
                                                                                                                                                        footer {
                                                                                                                                                          max-width: 100%;
                                                                                                                                                          margin-left: auto;
                                                                                                                                                          margin-right: auto;
                                                                                                                                                          margin: 2em 0;
                                                                                                                                                          height: 100px; }
                                                                                                                                                          /* line 20, ../scss/bourbon/addons/_clearfix.scss */
                                                                                                                                                          footer::after {
                                                                                                                                                            clear: both;
                                                                                                                                                            content: "";
                                                                                                                                                            display: table; }
                                                                                                                                                            /* line 11, ../scss/partials/_footer.scss */
                                                                                                                                                            footer address {
                                                                                                                                                              font-size: 0.5em;
                                                                                                                                                              color: black;
                                                                                                                                                              vertical-align: baseline;
                                                                                                                                                              margin-bottom: 0px;
                                                                                                                                                              padding-top: 60px;
                                                                                                                                                              padding-left: 1em;
                                                                                                                                                              text-align: center; }

                                                                                                                                                              /* line 1, ../scss/partials/_sidebar.scss */
                                                                                                                                                              li.sidebar {
                                                                                                                                                                display: inline; }
                                                                                                                                                                @media screen and (min-width: 48em) {
                                                                                                                                                                  /* line 1, ../scss/partials/_sidebar.scss */
                                                                                                                                                                  li.sidebar {
                                                                                                                                                                    text-align: right;
                                                                                                                                                                    display: list-item;
                                                                                                                                                                    padding-right: 1em; } }

                                                                                                                                                                    /* line 11, ../scss/partials/_sidebar.scss */
                                                                                                                                                                    li.sidebar::after {
                                                                                                                                                                      content: " /";
                                                                                                                                                                      color: #A22027; }

                                                                                                                                                                      /* line 16, ../scss/partials/_sidebar.scss */
                                                                                                                                                                      a.sidebar {
                                                                                                                                                                        font-size: 1.4em;
                                                                                                                                                                        font-family: PTSansNarrow;
                                                                                                                                                                        color: #3D709D; }
                                                                                                                                                                        /* line 20, ../scss/partials/_sidebar.scss */
                                                                                                                                                                        a.sidebarhover {
                                                                                                                                                                          text-decoration: underline; }
                                                                                                                                                                          @media screen and (min-width: 48em) {
                                                                                                                                                                            /* line 16, ../scss/partials/_sidebar.scss */
                                                                                                                                                                            a.sidebar {
                                                                                                                                                                              font-size: 1.2em; }
                                                                                                                                                                              /* line 26, ../scss/partials/_sidebar.scss */
                                                                                                                                                                              a.sidebar a:hover {
                                                                                                                                                                                border-bottom: none;
                                                                                                                                                                                text-decoration: none; } }

                                                                                                                                                                                @font-face {
                                                                                                                                                                                  font-family: PTSansNarrow;
                                                                                                                                                                                  font-style: normal;
                                                                                                                                                                                  font-weight: normal;
                                                                                                                                                                                  src: url("../fonts/ptsansnarrow_regular_macroman/PTN57F-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/ptsansnarrow_regular_macroman/PTN57F-webfont.woff2") format("woff2"), url("../fonts/ptsansnarrow_regular_macroman/PTN57F-webfont.woff") format("woff"), url("../fonts/ptsansnarrow_regular_macroman/PTN57F-webfont.ttf") format("truetype"), url("../fonts/ptsansnarrow_regular_macroman/PTN57F-webfont.svg#PTSansNarrow") format("svg"); }
                                                                                                                                                                                  @font-face {
                                                                                                                                                                                    font-family: PTSansNarrowBold;
                                                                                                                                                                                    font-style: normal;
                                                                                                                                                                                    font-weight: normal;
                                                                                                                                                                                    src: url("../fonts/ptsansnarrow_bold_macroman/PTN77F-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/ptsansnarrow_bold_macroman/PTN77F-webfont.woff2") format("woff2"), url("../fonts/ptsansnarrow_bold_macroman/PTN77F-webfont.woff") format("woff"), url("../fonts/ptsansnarrow_bold_macroman/PTN77F-webfont.ttf") format("truetype"), url("../fonts/ptsansnarrow_bold_macroman/PTN77F-webfont.svg#PTSansNarrowBold") format("svg"); }
                                                                                                                                                                                    @font-face {
                                                                                                                                                                                      font-family: PTSandsRegular;
                                                                                                                                                                                      font-style: normal;
                                                                                                                                                                                      font-weight: normal;
                                                                                                                                                                                      src: url("../fonts/ptsans_regular_macroman/PTS55F-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/ptsans_regular_macroman/PTS55F-webfont.woff2") format("woff2"), url("../fonts/ptsans_regular_macroman/PTS55F-webfont.woff") format("woff"), url("../fonts/ptsans_regular_macroman/PTS55F-webfont.ttf") format("truetype"), url("../fonts/ptsans_regular_macroman/PTS55F-webfont.svg#PTSandsRegular") format("svg"); }

                                                                                                                                                                                      /*# sourceMappingURL=main.css.map */
