@import "neat-helpers"; // or "../neat/neat-helpers" when not in Rails

// Neat Overrides
// $column: 90px;
$gutter: 2em;
$grid-columns: 12;
$max-width: 100%;



// Neat Breakpoints
$medium-screen: em(480);
$large-screen: em(860);

$mobile: new-breakpoint(max-width $medium-screen 4);
$desktop: new-breakpoint(min-width $large-screen 12);

// $mobile: new-breakpoint(max-width $medium-screen 4);
// $desktop: new-breakpoint(min-width $large-screen 12);