@import "neat-helpers"; // or "../neat/neat-helpers" when not in Rails

// Neat Overrides
// $column: 90px;
$gutter: 2em;
$grid-columns: 12;
$max-width: 100%;



// Neat Breakpoints
$mobile-size: 320px;
$tablet-size: 720px;
$desktop-size:em(1050);
$largedesktop-size:em(1050);

// Bourbon Neat Breakpoints
$mobile: new-breakpoint(min-width $mobile-size 4);
// $tablet: new-breakpoint(min-width $tablet-size 8);
$desktop: new-breakpoint(min-width $desktop-size 12);
// $largedesktop: new-breakpoint(min-width $largedesktop-size 16);