@import "neat-helpers"; // or "../neat/neat-helpers" when not in Rails

// Neat Overrides
// $column: 90px;
$gutter: 2em;
$grid-columns: 12;
$max-width: 100%;



// Neat Breakpoints
$medium-screen: em(640);
$large-screen: em(860);

$medium-screen-up: new-breakpoint(min-width $medium-screen 4);
$large-screen-up: new-breakpoint(min-width $large-screen 12);

$mobile: new-breakpoint(max-width 640px);
$desktop: new-breakpoint(min-width 850px);