body {
  @include font-feature-settings("kern", "liga", "pnum");
  // -webkit-font-smoothing: antialiased;
  color: $base-font-color;
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: $base-line-height;
}

h1{
  font-size: 1.8em;

  a{
    color: $base-header-color;
    &:hover{
      color: $base-header-color;
    }
  }
}

h2{
  font-size: 1.5em;
}

h2{
  font-size: 1.2em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font-family;
  color: $base-header-color;
  // line-height: $heading-line-height;
  margin: 0 0 $small-spacing;
}

p {
  margin: 0 0 $small-spacing;
}

a {
  color: $base-action-color;
  text-decoration: none;
  transition: color 0.1s linear;

  &:active,
  &:focus,
  &:hover {
    color: $base-action-color;
    text-decoration: none;
    border-bottom: $base-action-border;//1px dotted #a41e22;
  }

  &:active,
  &:focus {
    outline: none;
  }
}

hr {
  border-bottom: $base-border;
  border-left: none;
  border-right: none;
  border-top: none;
  margin: $base-spacing 0;
}

img,
picture {
  margin: 0;
  max-width: 100%;
}

a.tag{
  font-weight: bolder;
  margin-left: 0.4em;
  margin-right: 0.4em;
  &:hover{
    text-decoration: none;
  }
}
