//Debug
$visual-grid: true;
$visual-grid-color: red;
$visual-grid-index: front;
$visual-grid-opacity: 0.05;

// Typography
$base-font-family: GandhiSerif;
$heading-font-family: $base-font-family;//ColabThi;

// Font Sizes
$base-font-size: 22px;

// Line height
$base-line-height: 1.5;
$heading-line-height: 1.2;

// Other Sizes
$base-border-radius: 0.3em;
$base-spacing: $base-line-height * 1em;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;
$base-padding: 60px;
$base-margin: 2em;

// Colors
$blue: #2768AB;
$black: #333333;
$dark-gray: #333333;
$medium-gray: #999;
$light-gray: #ddd;
$reddish: #BB3D22;
$red: #D04426;
$light-brown:#F1F0EB;

// Font Colors
$base-background-color: #fff;
$base-font-color: $dark-gray;
$action-color: $reddish;

//Background Colors
$base-nav-background: $dark-gray;
$base-page-background: $light-brown;

// Border
$base-border-color: $reddish;
$base-border: 1px dotted $base-border-color;

// Forms
$form-box-shadow: inset 0 1px 3px rgba(#000, 0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px adjust-color($action-color, $lightness: -5%, $alpha: -0.3);
