// Colors
// Keep The Change (adobe)
$color-1: #021C26; //deep blue
$color-2: #5A8C8C; //light blue
$color-3: #F0ECBD; //lemon-chiffon
$color-4: #D70E31; //red
$color-5: #F3CA8D; //light background
$black: #333333;

