// Colors
// Keep The Change (adobe)
$color-1: #2D3E4F; //deep blue
$color-2: #70BCD9; //light blue
$color-3: #F0ECBD; //
$color-4: #F9454E; //red
$color-5: white; //light background
$color-6: #777777; //ref font color
$color-7: #EEEEEE; //ref & quotes background color
$black: #333333;
