//Color Scheme
//Name:
//Source:
$color-1: //titles, headers, font, nav-background
$color-2: //nav
$color-3: //
$color-4: //links,
$color-5: //page-background
$color-6: //ref
$color-7: //ref & quotes background color
$black: #333333;